

#playing-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    width: 700px;
    height: 700px;
    border: 2px solid;
  }
  
  .card{
    display: flex;
    justify-content:space-between;
    width: 200px;
    height: 300px;
    border: 2px solid;
  }
  
  .left{
    display: flex;
    align-self: flex-start;
    margin:10px;
  }
  
  .middle{
    display: flex;
    flex-direction: column;
    align-self: center;
  }
  
  .right{
    display: flex;
    align-self: flex-end;
    margin:10px;
  }